TgCrypto
https://raw.githubusercontent.com/HasibulKabir/pyrogramarchive/master/pyrogramasyncv0.18.0.zip
git+https://github.com/ytdl-org/youtube-dl
wget
pillow
hachoir
Pyrogram==1.0.7
youtube-dl
Flask
gunicorn
